# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [6]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [7]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([24398, 46786, 16539, 31953, 57285, 48114, 58528, 70001, 62799,
       62327, 58163, 32413, 19550, 66648, 27965, 36392, 56424, 15588,
       35092, 21337, 43142, 69501, 54875, 54913, 18565, 58575, 20459,
       53546, 52978, 16737, 67004, 26105, 57914, 66481, 20134, 57938,
       32161, 56271, 50095, 44926, 70251, 36459, 50900, 63498, 21375,
       69924, 60677, 32431, 68992, 24520, 38934, 54366, 41985, 61079,
       72145, 47293, 39159, 15613, 31218, 70664, 39230, 30377, 57533,
       32228, 39092, 49008, 34108, 32492, 57999, 36980, 45963, 43931,
       48182, 45213, 64337, 24876, 50513, 17755, 24238, 30608, 62003,
       68385, 17767, 56756, 16549, 36701, 42506, 50876, 32196, 63765,
       57055, 48146, 19390, 41975, 41412, 55350, 42454, 24263, 65759,
       28944, 29379, 17073, 36428, 49543, 58192, 70149, 50363, 24843,
       34117, 50673, 50008, 62090, 53529, 21761, 26230, 44627, 52401,
       31358, 25564, 18704, 38347, 19894, 19632, 17499, 35208, 51039,
       22877, 28255, 50321, 39196, 39960, 36195, 55146, 68788, 20464,
       23883, 17707, 15061, 18297, 66384, 42101, 23539, 28311, 53307,
       17501, 49066, 67853, 21667, 48594, 58745, 59828, 69890, 35948,
       24237, 60786, 22695, 32510, 26992, 50984, 52037, 65170, 49528,
       49553, 38846, 70809, 37012, 15840, 56986, 47734, 61699, 31431,
       69202, 25024, 31077, 54483, 56365, 58453, 59888, 61301, 22893,
       24933, 37113, 34861, 47466, 68599, 28681, 19235, 70103, 27767,
       61079, 32170, 24977, 66857, 68997, 59818, 63323, 45166, 25865,
       49782, 24262, 33677, 62420, 58303, 48722, 35758, 68028, 62113,
       37771, 61981, 33877, 68356, 52016, 29852, 53158, 22667, 72289,
       59319, 25597, 16377, 68401, 63188, 23268, 25130, 41117, 48195,
       50719, 70878, 67408, 29932, 31432, 20484, 27862, 45685, 47993,
       24937, 16041, 37615, 61135, 22990, 64190, 66904, 69085, 25432,
       45950, 65086, 55757, 21254, 48977, 72284, 42774, 48522, 16776,
       35714, 49405, 39202, 59684, 33031, 42558, 58925, 15434, 17728,
       48155, 53662, 40092, 29615, 40342, 18251, 71532, 49882, 67146,
       24986, 47610, 26503, 17737, 55933, 66616, 24665, 63092, 26897,
       27732, 72233, 32937, 25825, 66540, 69999, 62108, 41221, 32300,
       71388, 16892, 15255, 59713, 58847, 42005, 25976, 22406, 58510,
       31565, 16914, 42551, 70462, 15883, 19318, 59179, 63478, 43115,
       35576, 40411, 71379, 21364, 63405, 61731, 50935, 35285, 61525,
       70385, 26789, 15691, 31242, 30958, 23969, 18025, 71587, 39199,
       38132, 39744, 24410, 65801, 64580, 34689, 28767, 66364, 18809,
       26050, 72819, 39714, 57705, 67969, 67048, 50194, 38372, 30563,
       38995, 71073, 71982, 15708, 64788, 34165, 17127, 25042, 55067,
       54239, 28577, 58726, 63669, 31534, 22563, 46706, 48964, 67382,
       46251, 38170, 16327, 63093, 72639, 18493, 58808, 52168, 71401,
       34025, 43097, 47607, 32290, 17967, 27921, 36101, 60957, 28733,
       56506, 40546, 57021, 18625, 40886, 20231, 21517, 22432, 24969,
       48534, 21667, 50432, 39208, 36236, 65239, 63063, 15508, 22470,
       25211, 28163])

### Step 8. Add the column owners to cars

In [8]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,63063
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,15508
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,22470
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,25211
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,28163

In [9]:
print(cars.iloc[199,:])

mpg                         20
cylinders                    6
displacement               225
horsepower                 100
weight                    3651
acceleration              17.7
model                       76
origin                       1
car             dodge aspen se
owners                   24262
Name: 1, dtype: object

In [11]:
#cars = 

cars.reset_index(drop=True,inplace=True)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
5    15.0          8           429        198    4341          10.0     70
6    14.0          8           454        220    4354           9.0     70
7    14.0          8           440        215    4312           8.5     70
8    14.0          8           455        225    4425          10.0     70
9    15.0          8           390        190    3850           8.5     70
10   15.0          8           383        170    3563          10.0     70
11   14.0          8           340        160    3609           8.0     70
12   15.0          8           400        150    3761           9.5     70
13   14.0          8           455        225    3086          10.0     70
14   24.0          4           113         95    2372          15.0     70
15   22.0          6           198         95    2833          15.5     70
16   18.0          6           199         97    2774          15.5     70
17   21.0          6           200         85    2587          16.0     70
18   27.0          4            97         88    2130          14.5     70
19   26.0          4            97         46    1835          20.5     70
20   25.0          4           110         87    2672          17.5     70
21   24.0          4           107         90    2430          14.5     70
22   25.0          4           104         95    2375          17.5     70
23   26.0          4           121        113    2234          12.5     70
24   21.0          6           199         90    2648          15.0     70
25   10.0          8           360        215    4615          14.0     70
26   10.0          8           307        200    4376          15.0     70
27   11.0          8           318        210    4382          13.5     70
28    9.0          8           304        193    4732          18.5     70
29   27.0          4            97         88    2130          14.5     71
..    ...        ...           ...        ...     ...           ...    ...
368  27.0          4           112         88    2640          18.6     82
369  34.0          4           112         88    2395          18.0     82
370  31.0          4           112         85    2575          16.2     82
371  29.0          4           135         84    2525          16.0     82
372  27.0          4           151         90    2735          18.0     82
373  24.0          4           140         92    2865          16.4     82
374  23.0          4           151          ?    3035          20.5     82
375  36.0          4           105         74    1980          15.3     82
376  37.0          4            91         68    2025          18.2     82
377  31.0          4            91         68    1970          17.6     82
378  38.0          4           105         63    2125          14.7     82
379  36.0          4            98         70    2125          17.3     82
380  36.0          4           120         88    2160          14.5     82
381  36.0          4           107         75    2205          14.5     82
382  34.0          4           108         70    2245          16.9     82
383  38.0          4            91         67    1965          15.0     82
384  32.0          4            91         67    1965          15.7     82
385  38.0          4            91         67    1995          16.2     82
386  25.0          6           181        110    2945          16.4     82
387  38.0          6           262         85    3015          17.0     82
388  26.0          4           156         92    2585          14.5     82
389  22.0          6           232        112    2835          14.7     82
390  32.0          4           144         96    2665          13.9     82
391  36.0          4           135         84    2370          13.0     82
392  27.0          4           151         90    2950          17.3     82
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                                car  owners
0         1          chevrolet chevelle malibu   24398
1         1                  buick skylark 320   46786
2         1                 plymouth satellite   16539
3         1                      amc rebel sst   31953
4         1                        ford torino   57285
5         1                   ford galaxie 500   48114
6         1                   chevrolet impala   58528
7         1                  plymouth fury iii   70001
8         1                   pontiac catalina   62799
9         1                 amc ambassador dpl   62327
10        1                dodge challenger se   58163
11        1                 plymouth 'cuda 340   32413
12        1              chevrolet monte carlo   19550
13        1            buick estate wagon (sw)   66648
14        3              toyota corona mark ii   27965
15        1                    plymouth duster   36392
16        1                         amc hornet   56424
17        1                      ford maverick   15588
18        3                       datsun pl510   35092
19        2       volkswagen 1131 deluxe sedan   21337
20        2                        peugeot 504   43142
21        2                        audi 100 ls   69501
22        2                           saab 99e   54875
23        2                           bmw 2002   54913
24        1                        amc gremlin   18565
25        1                          ford f250   58575
26        1                          chevy c20   20459
27        1                         dodge d200   53546
28        1                           hi 1200d   52978
29        3                       datsun pl510   16737
..      ...                                ...     ...
368       1           chevrolet cavalier wagon   71401
369       1          chevrolet cavalier 2-door   34025
370       1         pontiac j2000 se hatchback   43097
371       1                     dodge aries se   47607
372       1                    pontiac phoenix   32290
373       1               ford fairmont futura   17967
374       1                     amc concord dl   27921
375       2                volkswagen rabbit l   36101
376       3                 mazda glc custom l   60957
377       3                   mazda glc custom   28733
378       1             plymouth horizon miser   56506
379       1                     mercury lynx l   40546
380       3                   nissan stanza xe   57021
381       3                       honda accord   18625
382       3                     toyota corolla   40886
383       3                        honda civic   20231
384       3                 honda civic (auto)   21517
385       3                      datsun 310 gx   22432
386       1              buick century limited   24969
387       1  oldsmobile cutlass ciera (diesel)   48534
388       1         chrysler lebaron medallion   21667
389       1                     ford granada l   50432
390       3                   toyota celica gt   39208
391       1                  dodge charger 2.2   36236
392       1                   chevrolet camaro   65239
393       1                    ford mustang gl   63063
394       2                          vw pickup   15508
395       1                      dodge rampage   22470
396       1                        ford ranger   25211
397       1                         chevy s-10   28163

[398 rows x 10 columns]